{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p><h>The application allows the logged in user to store text notes. Some notes may be marked as encrypted. Decryption should require a secret password.</h></p>
    <p><h>The user can register and log in with a password.</h></p>
    <p><h>The application allows you to share selected notes (unencrypted) with other users. Two solutions are allowed:</h></p>
    <p><h>1) notes made available to author's,</h></p>
    <p><h>2) notes made available to the public.</h></p>
{% endblock content %}
